@font-face {
  font-family: 'LiAdorNoirritRegular';
  src: url('fonts/LiAdorNoirritRegular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}


@font-face {
  font-family: 'LiAdorNoirritBold';
  src: url('fonts/LiAdorNoirritBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}




@font-face {
  font-family: 'LiAdorNoirritLight';
  src: url('fonts/LiAdorNoirritLight.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
html {
  scrollbar-width: none;
}

/* Hide scrollbar for IE, Edge */
html {
  -ms-overflow-style: none;
}





* {
  margin: 0;
  padding: 0;
}

body {
  
  color: #000000;
  font-family: LiAdorNoirritRegular;
}

.bottom-navigation-wrapper {
  background: #FAFAFA;
  width: 100%;
  height: 90px;
  position: fixed;
  bottom: 0;
  z-index: 99999;
  border-top: 2px solid #E5E5E5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  
}








div {
  transition: all 0.3s ease;
}


.bottom-navigation-title {
  text-align: center;
  padding-top: 2.5px;
  color: #7F7F7F;
}




.bottom-navigation-inner-wrapper {
  
  all: unset;
  cursor: default;
  display: grid;
  grid-template-rows: 1fr 1fr;
  
  
}

/*

.bottom-navigation-inner-wrapper:active {
  
  .bottom-navigation-title {
    font-family: LiAdorNoirritBold;
    color: #000000;
  }
  
  .bottom-navigation-icon-inner-wrapper {
    
    background: #E5E5E5;
    width: 64px;
    
  }
  
  
  svg {
    fill: #000000;
    scale: 1;
  }
  
  
}


*/
.bottom-navigation-icon-wrapper {
  
  display: grid;
  place-items: end center;
}


.bottom-navigation-icon-inner-wrapper {
  width: 54px;
  height: 32px;
  border-radius: 30px;
  display: grid;
  place-items: center;
  
  
}

.button {
  margin: auto;
  
  background: #333333;
  
  border-radius: 30px;
  display: grid;
  place-items: center;
  color: white;
  border-bottom: 4px solid #000000;
  
}

/*
.button:active {
  border: 0px solid #000000;
  translate: 0px 0px;
}
*/


svg {
  fill: #7F7F7F;
  transition: all 0.5s ease;
  scale: 1.1;
}






@view-transition {
  navigation: auto;
}

::view-transition-group(*) {
  
  animation-duration: 0.5s;
}


.header {
  position: fixed;
  z-index: 9997;
  width: 100%;
  background: #fafafa;
  height: 80px;
  display: grid;
  grid-template-columns: 80px auto;

  border-bottom: 2px solid #E5E5E5;
  
}


.headerMain {
  position: fixed;
  z-index: 9997;
  width: 100%;
  height: 80px;
  display: grid;
  grid-template-columns: 80px auto;
  
  
}


.x4 {
  display: grid;
  grid-template-columns: 80px auto 60px 80px;
}

.x3 {
  display: grid;
  grid-template-columns: 80px auto 80px;
}


.img-container {
  
  display: grid;
  place-items: center;
  
  
}

.x4 :nth-child(3) {
  place-items: center end;
}


.title-container {
  font-family: LiAdorNoirritLight;
  display: grid;
  place-items: center start;
  font-size: 35px;
  letter-spacing: -3px;
  opacity: 0.8;
  overflow: scroll;
}

.inner-img-container {
  background: #fafafa;
  width: 50px;
  height: 50px;
  border: 2px solid #E5E5E5;
  border-radius: 50%;
  display: grid;
  place-items: center;
  
}

.logo {
  width: 45px;
  height: 45px;
  
  border-radius: 50%;
  
  
}


.profilePic {
  border-radius: 50%;
}


.features {
  width: 100%;
  height: 70vh;
}





.swiper {
  
  
  width: 100%;
  height: 222px;
}


.swiper-slide {
  display: grid;
  place-items: center;
 
}





.swiper-slide img {
 

  opacity: 0.4;
  scale: 0.6;
  transition: all 0.5s ease;
  
}

.activeImg {
  opacity: 1;
  scale: 1;
}

#featureName {
  text-align: center;
  font-size: 20px;
  font-family: LiAdorNoirritLight;
  transition: all 0.1s ease;
  opacity: 0.7;
}



#feature-info-txt:active {
  opacity: 1;
}



.feature-info {
  
  width: 300px;
  height: calc(100vh - 450px);
  margin: auto;
  margin-top: 10px;
  border-radius: 40px;
  border: 2px solid #E5E5E5;
  display: grid;
  grid-template-rows: 3fr 1fr;
  
}



.feature-info-txt {
  padding: 30px 30px 0px 30px;
  overflow: scroll;
  text-align: justify;
  text-justify: inner-word;
  font-size: 16px;
  font-family: LiAdorNoirritLight;
  transition: all 0.1s ease;
  opacity: 0.7;
}

.feature-info-btn-wrapper {
  
  padding: 0px 10px 10px 10px;
}


.feature-info-btn {
  width: 100%;
  height: 50px;
}

.sign-in-up {
  
  width: 100%;
  height: 100vh;
  display: grid;
  position: fixed;
  place-items: center;
  
  
}

.sign-in-up-wrapper {
  
  width: 250px;
  height: 350px;
  background: #fafafa;
  border-radius: 40px;
  border: 2px solid #E5E5E5;
  display: grid;
  grid-template-rows: 7fr 1fr;
  
}



.email-pass {
  padding: 30px;
  overflow: hidden;
}

.sign-in-up-btn-wrapper {
  
  padding: 0px 10px 10px 10px;
}


.sign-in-up-btn {
  width: 100%;
  height: 50px;
}



* {
  
  -webkit-tap-highlight-color: transparent;
  
}



.logo {
  animation: rotateLogo 7.5s linear infinite;
}

@keyframes rotateLogo {
  from {
    transform: rotate(0deg);
  }
  
  to {
    transform: rotate(360deg);
  }
}




.showNav {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #FAFAFA;
  border: 2px solid #E5E5E5;
  width: 40px;
  height: 25px;
  border-radius: 30px;
  display: grid;
  place-items: center;
}